@model pc2x.Paginacion.Web.ViewModels.FacturaListVm

@section styles{
    <style>
    </style>
}

@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Lista de Facturas</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Ver Detalle</th>
                <th>Folio</th>
                <th>RFC Emisor</th>
                <th>RCF Receptor</th>
                <th>Lugar de Expedición</th>
                <th>Fecha de Expedición</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var f in Model.Facturas)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Detalle", new {id = f.Folio})">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </td>
                    <td>
                        @f.Folio
                    </td>
                    <td>
                        @f.RfcEmisor
                    </td>
                    <td>
                        @f.RfcReceptor
                    </td>
                    <td>
                        @f.LugarExpedicion
                    </td>
                    <td>
                        @f.FechaExpedicion.ToShortDateString()
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-10">

        <ul class="pagination">

            @{
                var disabledAntButton = "";
                if (Model.Paginacion.CurrrentPage <= 1)
                {
                    disabledAntButton = "disabled = disabled";
                }

                var disabledNextButton = "";
                if (Model.Paginacion.CurrrentPage >= Model.Paginacion.TotalPages)
                {
                    disabledNextButton = "disabled = disabled";
                }
            }



            <li>
                <a class="btn btn-default" @disabledAntButton
                   href="@Url.Action("Index", new {page = Model.Paginacion.PreviousPage, pageSize = Model.Paginacion.PageSize})">
                    Anterior
                </a>
            </li>

            @for (var i = 1; i <= Model.Paginacion.TotalPages; i++)
            {

                if (Model.Paginacion.CurrrentPage == i)
                {
                    <li class="active">
                        @Html.ActionLink(i.ToString(), "Index", new {page = i, pageSize = Model.Paginacion.PageSize})
                    </li>

                }
                else
                {
                    <li>
                        @Html.ActionLink(i.ToString(), "Index", new {page = i, pageSize = Model.Paginacion.PageSize })
                    </li>
                }
            }
            <li>
                <a class="btn btn-default" @disabledNextButton
                   href="@Url.Action("Index", new {page = Model.Paginacion.NextPage, pageSize = Model.Paginacion.PageSize})">
                    Siguiente
                </a>
            </li>
        </ul>

    </div>

    <div class="col-xs-12 col-md-2" style="margin: 20px 0;">
        Mostrar
        <select id="pageSize_select" data-selected ="@Model.Paginacion.PageSize" data-page="@Model.Paginacion.CurrrentPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        Registros
    </div>



</div>

@section scripts{

    <script>

        $(document).ready(function() {
            var pageSize = $("#pageSize_select").data("selected");
            var selectedOption = $("#pageSize_select > option[value='" + pageSize + "']");
            
            if (selectedOption.length > 0) 
                $(selectedOption[0]).prop("selected", "selected");
            else 
                $("#pageSize_select").append(
                    "<option selected = selected value=" + pageSize + ">" + pageSize + "</option>");

        });

        $("body").on("change", "#pageSize_select", function() {

            var pageSize = $(this.options[this.selectedIndex]).val();
            var page = $(this).data("page");
            window.location.href = "/Facturacion/Index?pageSize=" + pageSize + "&page=" + page;
        });
    </script>
}
